<section class="py-2">
    <div class="row">
       <div class="col-md-6 text-center">
           <h1 class="display-3 mt-3 pt-5">
               Web Development Ebook
           </h1><p class="lead">learn web development front to back</p>
           <form action="/charge" method="POST">
<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="{{stripePublishableKey}}"
    data-name="Buy Ebook"
    data-description="Your Ebook to excel in Excel"
    data-amount="2500"
    data-image="/img/marketplace.png"
    data-locale="auto"
    data-currency="myr">
  </script>
  <script>
      //Hide default stripe button
      document.getElementsByClassName("stripe-button-el")[0].style.display='none';
  </script>
  <button type="submit" class= "btn btn-outline-dark text-white btn-lg"> Purchase it Fast for RM25!</button>
</form>
</form>
       </div> 
       <div class="col-md-6">
           <img src="/img/book.png" alt="" class="img-fluid">
       </div>
    </div>
    </section>