<section class="py-5">
    <h1 class="display-3">
        Thank You
    </h1>
    <p class="lead">Click the button below to start download</p>

    <a href="/books/Introduction of excel function.pdf" download>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.btn {
  background-color: rgb(5, 17, 29);
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
</style>

<button class="btn"><i class="fa fa-download"></i> Download</button></a>
    <a href="/" class="btn btn-dark btn-lg"> Go Back Home</a>
</section>